.idea/
/node_modules
/helm/**/Chart.lock
/helm/**/charts/
.DS_Store
.task/

frontends/portal/Payload/App.app

**/node_modules
**/dist
**/dist-locales
**/storybook-static
**/coverage
**/coverage-integration-tests
**/*.generated.ts
**/*.generated.d.ts
**/.env.secrets
**/stats.html
*.log
gha-creds*.json
.locize.env

frontends/portal/simulator_build
frontends/portal/apps/local.json
